<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.foodiestudio.devtools">

    <application>
        <provider
            android:authorities="${applicationId}.DevToolsInitProvider"
            android:name=".DevToolsInitProvider"
            android:grantUriPermissions="true"
            android:exported="false" />
    </application>
</manifest>